
@using PagedList
@using BussinessLogic.Service
@using BussinessLogic.CustomHelper

@model BuisnessObject.ViewModel.NotificationViewModel

<div class="table-responsive no-padding cust-page-list">
    <table class="table table-bordered table-striped table-hover">

        <tr>
            <th> Customer No.</th>
            <th>@Html.DisplayNameFor(x => x.CustomerName)</th>
            <th>@Html.DisplayNameFor(x => x.CustomerTypeId)</th>
            <th>@Html.DisplayNameFor(x => x.PhoneNo)</th>
            <th>@Html.DisplayNameFor(x => x.MobileNo)</th>
            <th>@Html.DisplayNameFor(x => x.Address)</th>
            <th>@Html.DisplayNameFor(x => x.Email)</th>
            @if (CommonUtilityService.AllowEdit(25))
            {

                <th>QRCode</th>
            }
            @if (CommonUtilityService.AllowEdit(25))
            {

                <th>Action</th>
            }
            @if (CommonUtilityService.AllowStatusChange(26))
            {
                <th>Status</th>
            }



        </tr>


        @foreach (var item in Model.customerPagedList)
        {
            <tr style="font-size:12px;">
                <td>
                    @item.CustNo

                </td>
                <td>
                    @item.CustomerName

                </td>
                <td>
                    @item.Customertype

                </td>
                <td>
                    @item.PhoneNo

                </td>
                <td>
                    @item.MobileNo

                </td>
                <td>
                    @item.Address

                </td>
                <td>
                    @item.Email

                </td>

                @if (CommonUtilityService.AllowEdit(25))
                {
                    <td>
                        <button type="button" class="qr-button" style="height: 33px; width: 33px;background: url(Images/qrcodeimage.png); background-repeat: no-repeat;" data-id="@item.Cid" data-toggle="tooltip" title="See QR Code !"></button>
                    </td>
                }
                @if (CommonUtilityService.AllowEdit(25))
                {
                    <td>
                        <button type="button" class="btn btn-info btn-sm btn-edit glyphicon glyphicon-edit" data-id="@item.Cid" onclick="EditCustomerList(@item.Cid)" data-toggle="tooltip" title="Edit"></button>
                    </td>
                }



                @if (CommonUtilityService.AllowStatusChange(26))
                {
                    <td>
                        @*<button type="button" class="btn btn-info btn-sm btn-details glyphicon glyphicon-list" data-id="@item.Cid" onclick="CustomerChangeStatus(@item.Cid)" Route="CustomerList"></button>*@
                        @*<input type="checkbox" name="IsSelected" checked='@Model.IsSelected' onchange="CustomerChangeStatus(@item.Cid)" data-toggle="toggle" >*@

                        @*<input type="checkbox" name="IsSelected" checked='@Model.IsSelected'data-val="@item.Cid"  />*@
                        <label class="switch">
                            <input type="checkbox" name="IsSelected" data-val="@item.Cid" class="IsSelected" />
                            <div class="slider round">
                            </div>
                        </label>

                    </td>
                }

            </tr>
        }

    </table>
    @Html.Paging("_List", "Customer", Model.customerPagedList.PageCount, Model.customerPagedList.PageNumber, Model.customerPagedList.PageSize)
</div>


<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Scripts/SuscrptionJs/SuscriptionPage.js"></script>
<script src="~/Scripts/SuscrptionJs/CustomerSearch.js"></script>

<script src="~/Scripts/ch-dialog.js"></script>
<link href="~/Content/ToggleButton.css" rel="stylesheet" />

<script>

        $('.qr-button').click(function (e) {
        debugger;
        e.stopImmediatePropagation();
        debugger;
        var txt = $(this).data("id");


        var content = txt.toString();
        $.ajax({
            type: 'GET',
            url: '/Customer/DisplayQRCode',
            data: { cId: txt },

            success: function (result) {
                $.ajax({
                    type: 'GET',
                    url: '/api/qrcode',
                    data: { content: content },
                    dataType: 'json',
                    success: function (data) {
                        var img = document.createElement("img");
                        img.width = "250";
                        img.height = "250";
                        img.className = "image";
                        img.name = "file";
                        img.src = "data:image/png;base64," + data;
                        //var divs = document.createElement("div");
                        //divs.append(img);
                        //document.getElementById("imgdivs").appendChild(divs);
                        var results = $(result);
                        results.find('#imgdivs').append(img);
                        debugger;
                        $('#account-pop-up-div').html(results).modal({
                            'show': true,
                            'backdrop': 'static'
                        });
                        //$(".modal-body").find('#createSubmitForm').find('#CustomerName').text(custname);
                        //$(".modal-body").find('#createSubmitForm').find('#CustId').val(customerid);

                    },
                    error: function () {

                    }
                });

            }
        })



    })
    $("div.cust-page-list").on('click', 'input.btnPaging', function (e) {
        debugger;
        e.stopImmediatePropagation();
        var parentContainer = $(this).parents()
        var me = $(this);
        var customerno = parentContainer.find("#customer-no").find("#CustomerNo").val();
        var name = parentContainer.find("#search-Employee-Name").find("#txtCustomerSearch").val();
        var address = parentContainer.find("#search-Address").find("#txtAddress").val()
        var contact = parentContainer.find("#search-contact").find("#txtContact").val();
        var cType = parentContainer.find('#custtype').find("#ctypeid").val();
        var container = parentContainer.find("div.cust-page-list")
        var url = "?customerno=" + customerno + "&name=" + name + "&address=" + address + "&contact=" + contact + "&cType=" + cType;
        getPageNumberBtnAction(url, container, me)

    });
    $("div.cust-page-list").on('change', 'input#pageNo', function (e) {
        e.stopImmediatePropagation();
        debugger;
        var parentContainer = $(this).parents()
        var me = $(this);
        var customerno = parentContainer.find("#customer-no").find("#CustomerNo").val();
        var name = parentContainer.find("#search-Employee-Name").find("#txtCustomerSearch").val();
        var address = parentContainer.find("#search-Address").find("#txtAddress").val()
        var contact = parentContainer.find("#search-contact").find("#txtContact").val();
        var cType = parentContainer.find('#custtype').find("#ctypeid").val();
        var container = parentContainer.find("div.cust-page-list")
        var url = "?customerno=" + customerno + "&name=" + name + "&address=" + address + "&contact=" + contact + "&cType=" + cType;
        getPageNumberChangeData(url, container, me)
    });
    $("div.cust-page-list").on('change', 'input#pageSize', function (e) {
        e.stopImmediatePropagation();
        debugger;
        var parentContainer = $(this).parents()
        var me = $(this);
        var customerno = parentContainer.find("#customer-no").find("#CustomerNo").val();
        var name = parentContainer.find("#search-Employee-Name").find("#txtCustomerSearch").val();
        var address = parentContainer.find("#search-Address").find("#txtAddress").val()
        var contact = parentContainer.find("#search-contact").find("#txtContact").val();
        var cType = parentContainer.find('#custtype').find("#ctypeid").val();
        var container = parentContainer.find("div.cust-page-list")
        var url = "?customerno=" + customerno + "&name=" + name + "&address=" + address + "&contact=" + contact + "&cType=" + cType;
        getPageSizeChangeData(url, container, me)
    });




    //$('.IsSelected').each(function () {
    //    debugger;
    //    $(this).on("change", function(){
    //        // check if checkbox is being checked
    //        // taken from /a/23007488 by Alexandru Chichinete
    //        if ($(".IsSelected").is(":checked")) {
    //            // enable form submit
    //            var CID = $(this).attr("data-val");
    //            debugger
    //            $.MessageBox({
    //                buttonDone: "Yes",
    //                buttonFail: "No",
    //                message: " Are you sure?"
    //            }).done(function () {
    //                $.ajax({
    //                    type: "get",
    //                    url: "/Customer/UpdateStatus/",
    //                    contentType: "application/json; charset=utf-8",
    //                    data: { cId: CID },
    //                    dataType: "html",
    //                    success: function (result) {
    //                        debugger;
    //                        if (result) {
    //                            debugger;
    //                            $.ajax({
    //                                url: "/Customer/List",
    //                                type: 'post',
    //                                async: false,
    //                                success: function (data) {
    //                                    debugger
    //                                    $('section.content').html(data);
    //                                    SuccessAlert("Changed Status Successfully", 5000);
    //                                    document.getElementById('alert-success').scrollIntoView();
    //                                }
    //                            })
    //                        }
    //                        else {

    //                            ErrorAlert(result.Msg, 5000);
    //                            document.getElementById('alert-error').scrollIntoView();
    //                        }
    //                        //$('section.content').find('div:first').animate({ scrollTop: 0 }, 'slow');

    //                    },
    //                    error: function () {
    //                        alert("error");
    //                    }
    //                });
    //            })
    //            //var checkStatus = $(this).find('input:checkbox').is(':checked') ? 'ON' : 'OFF';
    //            //.buttonFail(function () {
    //            //    debbuger;


    //            //})

    //        }

    //    })
    //})










    $('.IsSelected').each(function () {
        debugger;
        $(this).on("change", function () {
            var CID = $(this).attr("data-val");
            // check if checkbox is being checked
            // taken from /a/23007488 by Alexandru Chichinete
            var msg = 'Are you sure?';
            var div = $("<div>" + msg + "</div>");
            div.dialog({

                //title: "Confirm",
                buttons: [
                            {
                                text: "Yes",
                                click: function () {
                                    $.ajax({
                                        type: "get",
                                        url: "/Customer/UpdateStatus/",
                                        contentType: "application/json; charset=utf-8",
                                        data: { cId: CID },
                                        dataType: "html",
                                        success: function (result) {
                                            debugger;
                                            if (result) {
                                                debugger;
                                                $.ajax({
                                                    url: "/Customer/List",
                                                    type: 'post',
                                                    async: false,
                                                    success: function (data) {
                                                        debugger

                                                        $('section.content').html(data);
                                                        SuccessAlert("Changed Status Successfully", 5000);
                                                        document.getElementById('alert-success').scrollIntoView();
                                                        div.dialog("close");
                                                    }
                                                })
                                            }
                                            else {

                                                ErrorAlert(result.Msg, 5000);
                                                document.getElementById('alert-error').scrollIntoView();
                                            }
                                            //$('section.content').find('div:first').animate({ scrollTop: 0 }, 'slow');

                                        },
                                        error: function () {
                                            alert("error");
                                        }
                                    });
                                }
                            },
                            {
                                text: "No",
                                click: function () {

                                    $('.slider').css(
                                    'background-color', '#46bd7b'
                                    )
                                    //$('.slider').addClass('change').addClass('change');
                                    //css('transform', 'translateX(0px)')
                                    debugger;
                                    $('.IsSelected').prop("checked", $(this).is(":checked"))
                                    div.dialog("close");

                                }
                            }
                ]
            });



        })
    })
</script>
