


@model BuisnessObject.ViewModel.MainViewModel.MonthlyDueViewModel
@using PagedList
@using BussinessLogic.Service
@using BussinessLogic.CustomHelper
@{
    int serialcount = -1;
}
<div class="table-responsive no-padding monthly-report-page-list">
    <table class="table table-bordered table-striped table-hover monthly-report-table-list" style="margin-top: 20px;">

        <tr>
            <th> S.No.</th>
            <th>Custno</th>
            <th> Suscription No.</th>

            <th>@Html.DisplayNameFor(x => x.CustomerName)</th>
            <th>@Html.DisplayNameFor(x => x.CustomerType)</th>
            <th>@Html.DisplayNameFor(x => x.LocationName)</th>
            <th>@Html.DisplayNameFor(x => x.MonthlyDue)</th>
            <th>@Html.DisplayNameFor(x => x.PostedOn)</th>




        </tr>


        @foreach (var item in Model.monthlyDuePagedList)
        {

    <tr style="font-size:12px;">
        <td>
            @{ serialcount++; }
            @(serialcount + ((Model.monthlyDuePagedList.PageNumber - 1) * Model.monthlyDuePagedList.PageSize) + 1)
        </td>
        <td>@item.Custno</td>
        <td>
            @item.Subsno

        </td>
        <td>
            @item.CustomerName

        </td>
        <td>
            @item.CustomerType

        </td>
        <td>
            @item.LocationName
        </td>
        <td>

            @item.MonthlyDue

        </td>
        <td>
            @item.PostedOn

        </td>


    </tr>
        }

    </table>
    @Html.Paging("_MonthlyDueReport", "Report", Model.monthlyDuePagedList.PageCount, Model.monthlyDuePagedList.PageNumber, Model.monthlyDuePagedList.PageSize)

</div>



<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Scripts/SuscrptionJs/SuscriptionPage.js"></script>




<script>
    $("div.monthly-report-page-list").on('click', 'input.btnPaging', function (e) {
        debugger;
        e.stopImmediatePropagation();
        var parentContainer = $(this).parents()
        var me = $(this);
        var Location = $('#Location').find('#LocationName').val();
        var Month = $('#Month').find('#Month').val();
        var Year = $('#Year').find('#Year').val();
        var container = parentContainer.find("div.monthly-report-page-list");

        var url = "?Month=" + Month + "&Year=" + Year + "&Location=" + Location;
        getPageNumberBtnAction(url, container, me)

    });
    $("div.monthly-report-page-list").on('change', 'input#pageNo', function (e) {
        e.stopImmediatePropagation();
        debugger;
        var parentContainer = $(this).parents()
        var me = $(this);
        var Location = $('#Location').find('#LocationName').val();
        var Month = $('#Month').find('#Month').val();
        var Year = $('#Year').find('#Year').val();
        var container = parentContainer.find("div.monthly-report-page-list");

        var url = "?Month=" + Month + "&Year=" + Year + "&Location=" + Location;
        getPageNumberChangeData(url, container, me)
    });
    $("div.monthly-report-page-list").on('change', 'input#pageSize', function (e) {
        e.stopImmediatePropagation();
        debugger;
        var parentContainer = $(this).parents()
        var me = $(this);
        var Location = $('#Location').find('#LocationName').val();
        var Month = $('#Month').find('#Month').val();
        var Year = $('#Year').find('#Year').val();
        var container = parentContainer.find("div.monthly-report-page-list");

        var url = "?Month=" + Month + "&Year=" + Year + "&Location=" + Location;
        getPageNumberBtnAction(url, container, me)
    });

</script>