

@model BuisnessObject.ViewModel.MainViewModel.SubscriptionReport
@using PagedList
@using BussinessLogic.Service
@using BussinessLogic.CustomHelper
<div class="table-responsive no-padding sus-report-page-list">
    <table class="table table-bordered table-striped table-hover sus-report-table-list" style="margin-top: 20px;">

        <tr>
            <th> Suscription No.</th>

            <th>@Html.DisplayNameFor(x => x.Custname)</th>
            <th>@Html.DisplayNameFor(x => x.PostedOnAd)</th>
            <th>@Html.DisplayNameFor(x => x.PostedOnBs)</th>
            <th>@Html.DisplayNameFor(x => x.Debit)</th>
            <th>@Html.DisplayNameFor(x => x.Credit)</th>
            <th>@Html.DisplayNameFor(x => x.Balance)</th>
            <th>@Html.DisplayNameFor(x => x.Sources)</th>



        </tr>


        @foreach (var item in Model.subscriptionPagedList)
        {
           
            <tr style="font-size:12px;">
                <td>
                    @item.SubsNo

                </td>
                <td>
                    @item.Custname

                </td>
                <td>
                    @item.PostedOnAd

                </td>
                <td>
                    @item.PostedOnBs
                </td>
                <td>

                   @Convert.ToDecimal(@item.Debit).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture) 

                </td>
                <td>
                    @Convert.ToDecimal(@item.Credit).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture) 

                </td>
                <td>
                    @Convert.ToDecimal(@item.Balance).ToString("0,0.00", System.Globalization.CultureInfo.InvariantCulture)

                </td>
                <td>@item.Sources</td>

            </tr>
                        }

    </table>
    @Html.Paging("_SubscriberStatement", "Report", Model.subscriptionPagedList.PageCount, Model.subscriptionPagedList.PageNumber, Model.subscriptionPagedList.PageSize)

</div>



<script src="~/Scripts/SuscrptionJs/CustomerSearch.js"></script>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Scripts/SuscrptionJs/SuscriptionPage.js"></script>




<script>
    $("div.sus-report-page-list").on('click', 'input.btnPaging', function (e) {
        debugger;
        e.stopImmediatePropagation();
        var parentContainer = $(this).parents()
        var me = $(this);
        var FromDate = $('#FromDateAD').find('an-date-picker').get()[0].selectedDateAD;
        var ToDate = $('#ToDateAD').find('an-date-picker').get()[0].selectedDateAD;
        var subsid = $('.subscription-list-index').find('.cust-id').val();
        var container = parentContainer.find("div.sus-report-page-list");

        var url = "?subsid=" + subsid + "&FromDate=" + FromDate + "&ToDate=" + ToDate;
        getPageNumberBtnAction(url, container, me)

    });
    $("div.sus-report-page-list").on('change', 'input#pageNo', function (e) {
        e.stopImmediatePropagation();
        debugger;
        var parentContainer = $(this).parents()
        var me = $(this);
        var FromDate = $('#FromDateAD').find('an-date-picker').get()[0].selectedDateAD;
        var ToDate = $('#ToDateAD').find('an-date-picker').get()[0].selectedDateAD;
        var subsid = $('.subscription-list-index').find('.cust-id').val();
        var container = parentContainer.find("div.sus-report-page-list");

        var url = "?subsid=" + subsid + "&FromDate=" + FromDate + "&ToDate=" + ToDate;
        getPageNumberChangeData(url, container, me)
    });
    $("div.sus-report-page-list").on('change', 'input#pageSize', function (e) {
        e.stopImmediatePropagation();
        debugger;
        var parentContainer = $(this).parents()
        var me = $(this);

        var FromDate = $('#FromDateAD').find('an-date-picker').get()[0].selectedDateAD;
        var ToDate = $('#ToDateAD').find('an-date-picker').get()[0].selectedDateAD;
        var subsid = $('.subscription-list-index').find('.cust-id').val();
        var container = parentContainer.find("div.sus-report-page-list");

        var url = "?subsid=" + subsid + "&FromDate=" + FromDate + "&ToDate=" + ToDate;
        getPageNumberBtnAction(url, container, me)
    });

</script>