
@model BuisnessObject.ViewModel.MainViewModel.CollectionVerificationEntry
@using BussinessLogic.Service
@using BussinessLogic.CustomHelper
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/typeahead.min.js"></script>
<div id='account-pop-up-div' class='modal fade verfier-list' role='dialog'>
</div>
<div class="box  verifier-list-index">
   
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Collection Verifier List</h3>
            <hr>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>

            </div><!-- /.box-tools -->

            <div class="col-md-12">
               @Html.HiddenFor(x => x.CustId)
                @*<div class="form-group">*@
                    @Html.LabelFor(model => model.CollectorId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3 form-group">
                        @Html.TextBox("CollectorName", null, new { @class = "form-control", @id = "CollectorName", autocomplete = "off" })
                        @Html.HiddenFor(x => x.CollectorId)


                    </div>

                    @Html.LabelFor(model => model.LocationName, htmlAttributes: new { @class = "control-label col-md-2" })


                    <div class="col-md-3 form-group">
                        @Html.TextBox("LocationName", null, new { @class = "form-control", @id = "LocationName", autocomplete = "off" })
                        @Html.HiddenFor(x => x.LocationID)


                    </div>
               
                    <div class="col-md-3 form-group" id="custtype" style="margin-left: 173px;">

                        @Html.DropDownList("EntryTypeList", CommonUtilityService.EntryTypeList(), "--Select Event--", new { @class = "form-control " })
                    </div>
                    <div class="input-group-btn form-group col-md-1 pull-left">
                        <button type="button" id="search-verify" class="btn btn-search-verify btn-success" data-toggle="tooltip" title="Search"><i class="fa fa-search"></i></button>
</div>
                    @*</div>*@


        </div>
        <div class="Collection-List">



            @*@Html.Partial("_CollectionVerify", Model)*@



        </div>
    </div>
</div>

<script src="~/Scripts/jquery-message-box.js"></script>
<link href="~/Content/ch-dialog.css" rel="stylesheet" />
<script src="~/Scripts/ch-dialog.js"></script>


<script>

    
    $(function () {
        $("#LocationName").typeahead({

            hint: true,
            highlight: true,
            minLength: 1,
            source: function (request, response) {
                $.ajax({
                    url: '/Suscription/LocationList/',
                    data: "{ 'prefix': '" + request + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        items = [];
                        map = {};
                        $.each(data, function (i, item) {
                            var id = item.Lid;
                            var name = item.LocationName;
                            map[name] = { id: id, name: name };
                            items.push(name);
                        });
                        response(items);
                        $(".dropdown-menu").css("height", "auto");
                        //$(".dropdown-menu").css("width", "");
                        $(".dropdown-menu").addClass("col-md-10");
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            
            },
            updater: function (item) {
                $('#LocationID').val(map[item].id);
                return item;
            }
        });
    })
    $(function () {
        $('.button-checkbox').each(function () {

            // Settings
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };
        });
    });
    $("div.collection-verify-list").on('click', 'input.btnPaging', function (e) {
        debugger;
        e.stopImmediatePropagation();
        var parentContainer = $(this).parents()
        var me = $(this);
        var CollectorName = $('#CollectorName').val();
        var LocationName = $('#LocationName').val();
        var EntryTypeList=$('#EntryTypeList option:selected').text()
        var container = parentContainer.find("div.collection-verify-list")
        var url = "?CollectorName=" + CollectorName + "&LocationName=" + LocationName + "&EntryTypeList" + EntryTypeList;
        getPageNumberBtnAction(url, container, me)

    });
    $("div.collection-verify-list").on('change', 'input#pageNo', function (e) {
        e.stopImmediatePropagation();
        debugger;
        var parentContainer = $(this).parents()
        var me = $(this);
        var CollectorName = $('#CollectorName').val();
        var LocationName = $('#LocationName').val();
        var container = parentContainer.find("div.collection-verify-list")
        var EntryTypeList = $('#EntryTypeList option:selected').text()
        var url = "?CollectorName=" + CollectorName + "&LocationName=" + LocationName + "&EntryTypeList" + EntryTypeList;
        getPageNumberChangeData(url, container, me)
    });
    $("div.collection-verify-list").on('change', 'input#pageSize', function (e) {
        e.stopImmediatePropagation();
        debugger;
        var parentContainer = $(this).parents()
        var me = $(this);
        var CollectorName = $('#CollectorName').val();
        var LocationName = $('#LocationName').val();
        var container = parentContainer.find("div.collection-verify-list")
        var EntryTypeList = $('#EntryTypeList option:selected').text()
        var url = "?CollectorName=" + CollectorName + "&LocationName=" + LocationName + "&EntryTypeList" + EntryTypeList;
        getPageSizeChangeData(url, container, me)
    });
   
  
    $(function () {
        $("#CollectorName").typeahead({

            hint: true,
            highlight: true,
            minLength: 1,
            source: function (request, response) {
                $.ajax({
                    url: '/Collection/GetCollector/',
                    data: "{ 'prefix': '" + request + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        items = [];
                        map = {};
                        $.each(data, function (i, item) {
                            var id = item.CollectorID;
                            var name = item.CollectorName;
                            map[name] = { id: id, name: name };
                            items.push(name);
                        });
                        response(items);
                        $(".dropdown-menu").css("height", "auto");
                        //$(".dropdown-menu").css("width", "");
                        $(".dropdown-menu").addClass("col-md-10");
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            updater: function (item) {
                $('#CollectorId').val(map[item].id);
                return item;
            }
        });
    })

    $('#search-verify').click(function (event) {
        debugger;
        var CollectorName = $('#CollectorName').val();
        var LocationName = $('#LocationName').val();
        var EntryTypeList = $('#EntryTypeList option:selected').text();
            $.ajax({
                url: "/Collection/_CollectionVerify",
                type: 'post',
                async: false,
                data: { CollectorName: CollectorName, LocationName: LocationName, EntryTypeList: EntryTypeList },
                         
                success: function (data) {
                    debugger
                   
                    $('.Collection-List').html("");
                    $('.Collection-List').html(data);
                 
                  
                }
            })
      
        })
   
</script>