<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

@{
    Loader.Service.LayoutMenuMainService menumainService = new Loader.Service.LayoutMenuMainService();

}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="~/Images/logo.png"  />
    <title>Waste Management</title>
   @* <link href="~/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />*@

    @*<link href="~/admin-lte/css/AdminLTE.css" rel="stylesheet" />*@
 

    <link href="~/admin-lte/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @*<link href="~/Content/jquery-ui.css" rel="stylesheet" />*@
    @Styles.Render("~/AdminLTE/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/UserDialog/jquery-ui.css" rel="stylesheet" />
    <link href="~/UserDialog/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<link href="~/DialogLoader/jquery-ui.css" rel="stylesheet" />
    <link href="~/DialogLoader/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/DialogLoader/theme-jquery-ui.css" rel="stylesheet" />*@
    @*<script src="~/DialogLoader/jquery.js"></script>*@
  
    <!-- Font Awesome Icons -->

  
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    @*<link href="~/Content/jquery-ui.css" rel="stylesheet" />*@
   
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            @Html.Partial("_LayoutHeader")
        </nav>
       
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            @Html.Partial("_LayoutSideBar", menumainService.GetLayoutMenuGroupTree())
        </aside>
       
        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
                @*@RenderSection("Scripts", required: false)*@
                </section>
</div>
                       
                  
       
      
        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <div class="loaderContainer" style="display:none;background:rgba(86, 80, 80, 0.18);position: fixed;top:0;left:0;width: 100vw;height: 100vh;z-index: 99999;">
            <div class="loader"></div>
        </div>
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
               
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2020 <a href="https://adminlte.io">Channakya Software</a>.</strong> All rights reserved.
        </footer>
    </div>
 
    
    @*@Scripts.Render("~/bundles/jquery")

   
    @Scripts.Render("~/bundles/jqueryval")*@
  

   
  

    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/UserDialog/jquery-1.11.1.ui.min.js"></script>*@
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   
    <script src="~/Scripts/jquery.form.min.js"></script>
   
    <script src="~/Scripts/an-datepicker-with-polyfill.min.js"></script>
    <script src="~/Scripts/app.min.js"></script>
   @* <script src="~/Scripts/ch-treeview.js"></script>*@

    @*@RenderSection("scripts", required: false)*@

</body>
</html>

<style>
  .ui-dialog-titlebar-close {
    visibility: hidden;
}


    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        border: 2px solid #f3f3f3;
        border-radius: 50%;
        border-top: 2px solid #3498db;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }


  

        

</style>
<script type="text/javascript">

        $('.li-dropdown-notifications-logout').click(function () {
            debugger;
            document.getElementById('logoutForm').submit();

        });
        $('li.list-group-item.fyear').click(function(){
            debugger;
            var id=$(this).attr('id');
            $('ul.list-group').find('li.active').removeClass('active');
            $(this).addClass('active')
            if(id!=""&& !isNaN(id))
            {
                var data={FYId:id};
                $.get("/Employee/SetFiscalYear",data,function(fyName){
                    $("#cFYear").html(fyName);
                });
                $.get("/Employee/SetTranscationDate",data,function(fyName){
                    debugger;
                    $("#cTDate").html(fyName);

                });
            }
            $(".content").empty();
        });

        $('.li-dropdown-notifications-changepassword').click(function () {
            debugger;
            $.ajax({
                type: "get",
                url: "/Manage/ChangePassword",
                contentType: "application/json; charset=utf-8",
                data:{userId:@Loader.Models.Global.UserId},
                dataType: "html",
                success: function (html) {
                    debugger;
                    $('section.content').html(html);
                },
                error: function () {
                    alert("error");
                }
            });

        });


      
 
        //$('.sidebar').find('.main-side-tree').find('.master').nextAll('li').slideToggle();
        ////$(".sidebar-menu li").on("click", function () {
        ////    if ($(this).hasClass("active")) {
        ////        $(this).removeClass("active");
        ////    } else {
        ////        $(this).addClass("active");
        ////    }
        ////});

        //$('.pull-right-container').click(function () {
        //    debugger;
        //    var parent = $(this).closest('li.active.treeview');
        //    var id = $(this).attr('id');
        //    var isMaster = parent.hasClass('master');
        //    if (isMaster == true) {
        //        $(parent).nextAll('li').slideToggle();
        //    }
        //    else {
        //        $(parent).nextAll('li[pid=' + id + ']').slideToggle();
        //    }
        //    $(this).toggleClass('rotatefa')



        //});
        //$('.treeview-menu-item').click(function () {
        //    debugger;
        //    var controller = $(this).attr("controller");
        //    var action = $(this).attr("acton");
        //    var url = '/' + controller + '/' + action + '/';
        //    //window.location = url;
        //    $.ajax({
        //        type: "get",
        //        url: url,
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "html",
        //        success: function (html) {
        //            debugger;
        //            $('section.content').html(html);
        //        },
        //        error: function () {
        //            alert("error");
        //        }
        //    });

        //});
        //$('.nav-link').on('click', function () {
        //    debugger;
        //    var controller = $(this).attr("controller");
        //    var action = $(this).attr("action");
        //    var url = '/' + controller + '/' + action + '/';
        //    //window.location = url;
        //    $.ajax({
        //        type: "get",
        //        url: url,
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "html",
        //        success: function (html) {
        //            debugger;
        //            $('.content-wrapper').html(html);
        //        },
        //        error: function () {
        //            alert("error");
        //        }
        //    });

        //});
        //$('#treeview-menu-area').on('click', "button#search-btn", function (e) {
        //    debugger;
        //    var query = $(this).closest('.input-group').find("input.form-control").val();

        //    if (query != null) {
        //        var wrapperClass = $(this).closest('.section-treeview').find('.ch-treeview');

        //        var div = $(wrapperClass).find('.treeview-area');

        //        var TreeViewParam = {
        //            WithCheckBox: "false",
        //            AllowSelectGroup: "true",
        //            WithImageIcon: "true",
        //            WithOutMe: "false",
        //            Title: "",
        //            SelectedNodeId: "1",
        //            Filter: query
        //        }



        //        var url = "/Menu/_GetLayoutSideBarTree"

        //        $.ajax({
        //            type: "POST",
        //            url: url,
        //            data: { param: TreeViewParam },
        //            dataType: "html",
        //            success: function (html) {
        //                debugger;
        //                $('.main-side-tree').html(html);
        //            },
        //            error: function () {
        //                alert("error");
        //            }
        //        });
        //        //$(".main-side-tree").load(url, { param: TreeViewParam });
        //        //debugger;
        //    }


        //});
        //$('#treeview-menu-area').on('keypress', ".search-box", function (e) {
        //    debugger;
        //    if (e.which == 13) {
        //        var query = $(this).closest('.input-group').find("input.form-control").val();

        //        if (query != null) {
        //            var wrapperClass = $(this).closest('.section-treeview').find('.ch-treeview');

        //            var div = $(wrapperClass).find('.treeview-area');

        //            var TreeViewParam = {
        //                WithCheckBox: "false",
        //                AllowSelectGroup: "true",
        //                WithImageIcon: "true",
        //                WithOutMe: "false",
        //                Title: "",
        //                SelectedNodeId: "1",
        //                Filter: query
        //            }



        //            var url = "/Menu/_GetLayoutSideBarTree"

        //            $.ajax({
        //                type: "POST",
        //                url: url,
        //                data: { param: TreeViewParam },
        //                dataType: "html",
        //                success: function (html) {
        //                    debugger;
        //                    $('.main-side-tree').html(html);
        //                },
        //                error: function () {
        //                    alert("error");
        //                }
        //            });
        //            //$(".main-side-tree").load(url, { param: TreeViewParam });
        //            //debugger;
        //        }

        //    }
        //});

        
     
        $(document).ready(function () {
            debugger;
            $(document).bind("ajaxSend", function () {
                debugger;
            $('.loaderContainer').show().find('.loader').css({ "top": "50%", "left": "50%" });
        }).bind("ajaxStop", function () {
            $('.loaderContainer').hide();
        });
        });


</script>
<script>
    //session end
    debugger
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
        document.getElementById('logoutForm').submit();
        }
</script>
<style>
    .sidebar-menu:hover {
        overflow: hidden;
    }

    .slimScrollDiv {
        padding-left: -27px;
        left: -50px;
        margin-right: -56px;
    }

    .main-sidebar {
        overflow: hidden auto;
    }

    .sidebar {
        overflow: hidden;
    }

        .sidebar > ul {
            margin-left: -3px;
        }

    div#treeview-menu-area {
        margin-left: 34px;
    }

    .rotatefa {
        transform: rotate(+86deg);
    }

    div#treeview-menu-area {
        margin-left: -13px;
    }
</style>