
@model  BuisnessObject.ViewModel.MainViewModel.CustomerViewModel
@using BussinessLogic.Service
<div class="box box-success" style="border-top-color: #8ce8be;border-top:2px solid #8ce8be">
    <div class="box-header with-border">
        <legend style="font-size:16px;font-weight:bold">Customer-Details</legend>
        <div class="col-md-12">
            <div class="col-md-4" style="font-size: 14px;font-weight: 400;">
                Customer Name : @Model.CustomerName
            </div>
            <div class="col-md-4" style="font-size: 14px; font-weight: 400;">
                Mobile No : @Model.MobileNo
            </div>
            <div class="col-md-4" style="font-size: 14px; font-weight: 400;">
                Address : @Model.Address
            </div>
        </div>

        <div class="col-md-12" style="margin-top:20px;">
            <div class="col-md-4" style="font-size: 14px; font-weight: 400;">
                Pan No : @Model.PanNo
            </div>
            <div class="col-md-8" style="font-size: 14px; font-weight: 400;">
                @{
                    var customertype = CommonUtilityService.CustomerType(@Model.CustomerTypeId);
                }
                Customer Type : @Html.DisplayFor(x => customertype)
            </div>

            @*<div class="col-md-4">
                    @Html.DisplayFor(x => x.CustomerName)
                </div>*@
        </div>
        </div>
    </div>

